<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="ProductPageTest.js"></script>
</head>
<body>

    <div class="section" id="p1">
        Scroll down to see the effect
    </div>

    <div class="section bg-static" id="p2">
        <div class="bg-move"></div>
    </div>

    <div class="section">
        The boat image is moving only when scrolling.
    </div>


</body>
</html>