// store variables in this file, like colors/other globals AKA "utilities" AKA "utils" lol

// declaring variables: https://sass-lang.com/documentation/variables
// $<variableName>: <expression>
$watermelon-cucumber: #ff5656;
$white-gardenia: #f4ea9c;
$mahogany-teakwood: #5b5b5b;
$fresh-air: #8dcfdd;
$coffee-vanilla: #e2cea3;
$eucalyptus: #48c47e;
