@import "../../utils/utils";

// this file is basically a duplicate of ProductOnScroll right now.
// determining vital changes that need to be made to truly differentiate the clicked products

@keyframes backgroundScroll {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -1000px 0px;
	}
}
@-webkit-keyframes backgroundScroll {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -1000px 0px;
	}
}

h1 {
	// font-family: LaundrCalmer;
}
h2 {
	font-family: "Roboto", sans-serif;
}
.product {
	min-height: 100%;
}
.productInfo {
	margin: auto 0;
}

.btn-add-bomb {
	background-color: $laundr-white;
}

.pattern {
	background-size: contain;
	background-repeat: repeat;
	background-position: center;
	min-height: 100vh;
	// min-height: 100%;
	-webkit-animation: backgroundScroll 30s linear infinite;
	-webkit-animation-fill-mode: forwards;
	animation: backgroundScroll 30s linear infinite;
	animation-fill-mode: forwards;
}
.mockup {
	background-size: 80%;
	// transform: rotate(90deg);
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}

.productName {
	margin-left: 5rem;
	// padding-top: 20rem;
}

#footer {
	height: 300px;
}
