.landing {
	text-align: center;
	min-height: 100vh;
	// background-image: url("https://media.giphy.com/media/xT5LMx6rCLspqzJ9Bu/giphy.gif");
	background-image: url("../../assets/laundr-assets/ezgif.com-gif-maker.gif");
	background-color: black;
	z-index: 10;
	background-size: cover;
	background-repeat: no-repeat;
	// background-position: center;
	background: linear-gradient(rgba(0, 0, 0, 0.7));
}

.logo-overlay {
	background-image: url("https://i.imgur.com/tgrjAjf.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 75vh;
	z-index: 1;
}
