.landing {
	text-align: center;
	background-image: url("https://media.giphy.com/media/xT5LMx6rCLspqzJ9Bu/giphy.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}