@import "../../../utils/utils";
@import "../ProductOnScroll.scss";

.freshAir {
	// text-align: center;
	background-image: url("../../../assets/laundr-assets/patterns/freshair_pattern.png");

	.mockup {
		background-image: url("../../../assets/laundr-assets/packaging/freshairMockup.png");
	}
	
	.productInfo {
		background-color: $fresh-air;
	}
}

